LoggerLite/XLoggerSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="XLoggerSchema"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="activity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:dateTime" name="time"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="description"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
